*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFED;
}
a{
    text-decoration: none;
    color: #000;

}
/* HEADER */

header{
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #FDF184;

}
.text-box {
    display: flex;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
    color: rgb(24, 71, 12);
    border-radius: 15px;
    margin-top: 30px;
}

.header_pilt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    color: #FDF184;
    font-size: larger;
}

.header_pilt img{
    width: 170px;
    height: 40px;
    
   
}

.leia{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1em;
    font-size: 2em;
}
.kohe{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1em;
    font-size: 2em;
}
.nupud{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logi{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    width: 140px;
    margin: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: #FFC123;
    border-radius: 15px;
    border: 3px solid black;
}
.rega{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    width: 140px;
    margin:8px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: #FDF184;
    border-radius: 15px;
    border: 3px solid black;
}

.header_nupud a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 130px;
    height: 40px;
    margin: 7px;
    text-decoration: none;
    font-size: 24px;
    background-color: #C3E0E5;
    border-radius: 10px;
    border: 2px solid black;

}

.base{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    margin-top: 5%;
    background-color: white;
    height: fit-content;
    padding: 15px;
    width: 80%;
    text-align: center;
    color: #FEE2C5;
    border-radius: 15px;
    border: 2px white solid;
    background-color: #414141;
}

.content a{
    color: #FEE2C5;
    font-size: 30px;
}

.bars{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
}

.bars div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 5px;
}

.tutvustus img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    object-fit: cover;      
}

.tutvustus {
    width: 90%;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tutvustus_alus{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;

}


.maps{
    margin: 20px;
    border-radius: 10px;
}


/* FAKTID */

.faktid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 20px;
    justify-content: center;
 }

.fakt1{
    height: fit-content;
    align-self: flex-start;
    padding: 5px;
}


 /* KONTAKT */
p {
    margin: 0;
}
.info {
    margin-bottom: 20px;
    font-size: 17px;
    text-align: center;
}

.item_alus{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-left: 20%;
    padding-right: 20%;
    gap: 30px;
    margin-top: 30px;
}

.item1 {
    background-color: #C3E0E5;
    border-radius: 10px;
    height: auto;
    width: 200px;
}

.item1 img{
    border-radius: 100px;
}

.nimi {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #41729F;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.img1 {
    margin-left: 26px;
    margin-top: 26px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* GALERII */

.container {
    padding: 1rem;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1rem;
}
.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.item {
    gap: 5rem;
    padding: 1rem;
    background-color: #274472;
    color: white;
    border-radius: 5px;
    border: 1px solid #000;
    opacity: 0.9;
    width: 25%;
    min-width: 300px;
    height: fit-content;
}
.item a {
    text-decoration: none;
    color: white;
}
.item img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.pikk img {
    width: 100%;
    margin-bottom:auto;
    border-radius: 10px;
    aspect-ratio:unset;
    object-fit:scale-down;
}

.hover:hover {
    box-shadow: 1px 2px 3px 0px rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.4s ease;
    transform: scale(1.2);
    z-index: 1;
    
}


@media (min-width: 1024px) {

    .header_nupud{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        width: 100%;
        justify-content: space-around;
    } 

    .container {
        flex-direction: column;
    }
    .header_nupud a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 15%;
        height: 60px;
        margin: 7px;
        text-decoration: none;
        font-size: 24px;
        background-color: #C3E0E5;
        border-radius: 10px;
        border: 2px solid black;
    
    }

    .header_pilt img{
        width: fit-content;
        height: 65px;
    }

    .item {
        max-width: calc((100% - 32px) / 3);
    }

}
