*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #64c0c2;
    background-image: url("images/Kaart_2-01.png");
}
a{
    text-decoration: none;
    color: #000;

}
/* HEADER */

header{
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #FDF184;

}
.text-box {
    display: flex;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
    color: rgb(24, 71, 12);
    border-radius: 15px;
    margin-top: 30px;
}
.text-box_erisoovid{
    display: flex;
    height: 100px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
    color: rgb(24, 71, 12);
    border-radius: 15px;
    margin-top: 30px;
}

.header_pilt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    color: #FDF184;
    font-size: larger;
}

.header_pilt img{
    width: 170px;
    height: 40px;
    position: relative;
    
   
}

.leia{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.leia h3 {    
    text-align: center;
    margin-top: 2rem;
}

.kohe{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.nupud{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logi{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    height: 40px;
    width: 140px;
    margin: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    background-color: #FFC123;
    border-radius: 15px;
    border: 3px solid black;
    text-align: center;
}
.rega{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    align-items: center;
    color: black;
    height: 40px;
    width: 140px;
    margin:8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    background-color: #FDF184;
    border-radius: 15px;
    border: 3px solid black;
    text-align: center;
}
.otsi_hoidjat{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    width: 140px;
    margin:8px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: #FDF184;
    border-radius: 15px;
    border: 3px solid black;
}

.tutvustus img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
}

.tutvustus_alus{
    display: block;
    width: 100%;
    height: 100%;

}
.maps{
    margin: 20px;
    border-radius: 10px;
}
 
@media (min-width: 1024px) {

    .header_pilt img{
        width: fit-content;
        height: 50px;
    }
}
